<!-- <mat-card class="border"> -->

<div class="search" >
<input [(ngModel)]="inputData" (input)="search()" placeholder="Search">
<mat-icon matTooltip="Info about the action" (click)="changeLayout()">tune</mat-icon>
</div>

<div style="padding: 0px 250px;" class="card-container list-layout" *ngIf="!gridLayout">
    <div *ngFor="let product of products" class="card" class="card" >
        <mat-card>
            <div class="card-content">
            <img style="width: 288px; height: 100%;" mat-card-image [src] ="product.product_image" alt="{{ product.product_title }}">
            <mat-card-content>
                <div class="text-content">
                <h2 [class.highlight]="highlightText(product.product_title)">{{product.product_title}}</h2>
                <p class="product_badge">{{product.product_badge}}</p>
                <div *ngFor="let variant of product.product_variants">
                    <div class="variant">
                        {{variant.v1}}  {{variant.v2}} {{variant.v3}}
                    </div>
                </div>
            </div>
            </mat-card-content>
        </div>
        </mat-card>
    </div>
</div>

<div style="padding: 0px 250px;" class="card-container grid-layout" *ngIf="gridLayout">
    <div *ngFor="let product of products" class="card">
        <mat-card>
            <img mat-card-image [src] ="product.product_image" alt="{{ product.product_title }}">
            <mat-card-content>
                <h2 [class.highlight]="highlightText(product.product_title)">{{product.product_title}}</h2>
                <p class="product_badge">{{product.product_badge}}</p>
                <div *ngFor="let variant of product.product_variants">
                    <div class="variant">
                        {{variant.v1}}  {{variant.v2}} {{variant.v3}}
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<!-- </mat-card> -->